@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

.tagBit {
  background-color: #e84723;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  background-repeat: repeat;
  background-image: url("../../../images/back/shakes-back-small.png");

  .crate {
    flex-direction: column;
    @include MQ(S) {
      flex-direction: row;
    }

    @include MQ(L) {
      padding: 0 9%;
    }
    &__heading {
      font-size: 2.3rem;
      font-family: $hello-font;
    }
    &__first {
      .nameTagImg {
        margin: 0 0 1rem 0;
        height: 400px;
      }
      @include MQ(S) {
        width: 40%;
      }
      @include MQ(M) {
        width: 30%;
      }
    }
    &__second {
      @include MQ(S) {
        width: 60%;
      }
      @include MQ(M) {
        width: 70%;
      }
    }
    &__innerText {
      max-width: 35rem;
    }
  }
}
