@import "../../../styles/dominant/breakpoints.scss";
//@import "../../../styles/variables/fonts-and-colors.scss";

.tagBit {
  background-color: #e84723;
  background-image: url("../../../images/back/mobile-screens.png");
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;

  .crate {
    flex-direction: column;
    @include MQ(S) {
      flex-direction: row;
    }
    &__heading {
      font-size: 2rem;
    }
    &__first {
      .nameTagImg {
        margin: 0 0 1rem 0;
        height: 400px;
      }
      @include MQ(S) {
        width: 40%;
      }
      @include MQ(M) {
        width: 30%;
      }
    }
    &__second {
      @include MQ(S) {
        width: 60%;
      }
      @include MQ(M) {
        width: 70%;
      }
    }
    &__innerText {
      max-width: 35rem;
    }
  }
}
