.boxesBack {
  width: 100%;
  background-image: url("../../../images/back/left-boxes.png"),
    url("../../../images/back/right-boxes.png");
  background-size: 400px;
  background-repeat: repeat-y;
  background-position: left 4rem, right 4rem;
}
