// bestpractices.scss is where primary HTML tags are defined
// and some styles I've deemed the best to keep in all projects

html {
  font-size: 110%;
}

h1 {
  font-size: 1.5rem;
  margin: 1em 0 0.2em 0;
}
h2,
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin: 1.7rem 0 0.9rem 0;
}
h5 {
  font-size: 1.1rem;
}

.no-break {
  white-space: pre;
}

.not-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.tall-line-bullets {
  line-height: 2rem;
}

ol.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 1rem 0;
}
.border-grey {
  border-color: #cccccc;
}

.btn-primary {
  // background-color: #2b89d5;
  .dark {
    color: black;
  }
}
.btn-primary:hover {
  background-color: #2477bb;
}

.one-pt-8-rem {
  font-size: 1.8rem;
}
.one-pt-3-rem {
  font-size: 1.3rem;
}
.one-pt-2-rem {
  font-size: 1.2rem;
}
.one-pt-1-rem {
  font-size: 1.1rem;
}
.one-rem {
  font-size: 1rem;
}
.all-caps {
  text-transform: uppercase;
}
.pt-9-rem {
  font-size: 0.9rem;
}
.pt-8-rem {
  font-size: 0.8rem;
}
.pt-6-rem {
  font-size: 0.6rem;
}

.line-height-25 {
  line-height: 2.5rem;
}

.m-auto {
  margin: auto;
}

a {
  text-decoration: none;
  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.text-white {
  color: white;
  a {
    color: white;
    text-decoration: underline;
    :hover {
      color: white;
      text-decoration: none;
    }
  }
}

.text-black {
  color: black;
  a {
    color: black;
    text-decoration: underline;
    :hover {
      color: black;
      text-decoration: none;
    }
  }
}
