@import "../../styles/dominant/breakpoints.scss";
@import "../../styles/variables/fonts-and-colors.scss";

.footer {
  // background-image: url("../../images/back/squiggle-line.png");
  background-repeat: repeat-x;
  background-size: 8rem;
  &__text {
    color: grey;
  }
  .contactIcon {
    margin: 0 0.2rem;
    width: auto;
    height: 25px;
    @include MQ(S) {
      margin: 0 0.2rem;
    }
  }
}
