@import "../../styles/dominant/breakpoints.scss";

.titleBit {
  background-color: black;

  h1 {
    width: 100%;
    a {
      width: 100%;
    }
  }

  #southTejasLogo {
    width: 100%;
    background-color: black;
    max-width: 390px;
    z-index: 3;
    display: block;
    @include MQ(S) {
      display: none;
    }
  }
  #jamesHernandezLogo {
    width: 100%;
    background-color: black;
    max-width: 390px;
    z-index: 3;
    display: block;
    @include MQ(S) {
      display: none;
    }
  }
  #southTejasLogoDesktop {
    background-color: black;
    width: 100%;
    z-index: 3;
    display: none;
    @include MQ(S) {
      display: block;
      max-width: 1200px;
    }
  }
  #jamesHernandezLogoDesktop {
    background-color: black;
    width: 100%;
    z-index: 3;
    display: none;
    @include MQ(S) {
      display: block;
      max-width: 1200px;
    }
  }
}
