@import "../../styles/dominant/breakpoints.scss";

.titleBit {
  background-color: black;

  h1 {
    width: 100%;
  }
  #southTejasLogo {
    width: 100%;
    max-width: 390px;
    display: block;
    @include MQ(S) {
      display: none;
    }
  }
  #southTejasLogoDesktop {
    background-color: black;
    width: 100%;
    z-index: 500;
    display: none;
    @include MQ(S) {
      display: block;
      max-width: 1200px;
    }
  }
}
