@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

.tagBit {
  background-color: $prime-orange;
  background-image: url("../../../images/back/mobile-screens.png");
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  .nameTagImg {
    // width: 200px;
    margin: 0 0 1rem 0;
  }
  .crate {
    flex-direction: column;
    // border: 2px solid green;
    @include MQ(S) {
      flex-direction: row;
    }
    &__heading {
      font-size: 2rem;
    }
    &__first {
      justify-content: center;

      .nameTagImg {
        height: 400px;
      }
      //  border: 2px solid white;
      @include MQ(S) {
        width: 40%;
      }
      @include MQ(M) {
        width: 30%;
      }
    }
    &__second {
      justify-content: center;
      align-items: center;
      width: 100%;
      // margin: 0 1rem 1rem 1rem;
      @include MQ(S) {
        width: 60%;
      }
      @include MQ(M) {
        width: 70%;
      }
    }
    &__innerText {
      margin: 1rem;
      font-size: 1.1rem;
      max-width: 35rem;
    }
  }
}
