@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

.tagBit {
  background-color: $prime-orange;
  .nameTagImg {
    // width: 200px;
    margin: 0 0 1rem 0;
  }
  .crate {
    flex-direction: column;
    // border: 2px solid green;
    @include MQ(S) {
      flex-direction: row;
    }
    &__first {
      justify-content: center;

      .nameTagImg {
        height: 400px;
      }
      //  border: 2px solid white;
      @include MQ(S) {
        width: 50%;
      }
      @include MQ(M) {
        width: 30%;
      }
    }
    &__second {
      justify-content: center;
      align-items: center;
      width: 100%;
      // margin: 0 1rem 1rem 1rem;
      @include MQ(S) {
        width: 50%;
      }
      @include MQ(M) {
        width: 70%;
      }
    }
    &__innerText {
      margin: 2rem;
      font-size: 1.2rem;
    }
  }
}
