@import "../styles/dominant/breakpoints.scss";

.resumePage {
  h3 {
    font-size: 1.2rem;
  }
  width: 100%;
  @include MQ(L) {
    width: 70%;
    padding: 0 1%;
  }
  h4 {
    font-size: 1.1rem;
  }
  .clientSection {
    padding-bottom: 0.2rem;
    &:not(:first-child) {
      border-top: 1px solid grey;
      padding-top: 1rem;
    }
  }
}
