@import "../dominant/index.scss";

ul.docket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  row-gap: 0.5rem;

  @include MQ(S) {
    justify-content: space-around;
  }

  .docketItem {
    // li
    list-style: none;
    display: inline-block;
    width: 95%;
    margin: 0 0.25rem;

    @include MQ(S) {
      width: 48%;
    }
    @include MQ(M) {
      width: 31%;
    }

    a {
      color: black;
      display: block;
      border-radius: 1rem;
      transition: background-color 500ms;

      @include MQ(S) {
        height: 100%;
      }
      &:hover {
        text-decoration: none;
      }
      .title {
        padding: 0.5rem 0 0 0;
        text-align: center;
        font-size: 1.3rem;
        // &:hover {
        //   text-decoration: underline;
        // }
      }
    }
    &__descrip {
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    }
  }
}
