$tiffany-bluegreen: hsla(168, 100%, 75%, 0.18);
$prime-color-1: hsla(0, 0%, 80%, 0.515);
$prime-red: #ec2e2e;
$stdesign-scheme-orange: #e84723;
$stdesign-scheme-turq: #108599;
$stdesign-scheme-green: #8dc042;

$main-font: "Roboto", "Open Sans", "Trebuchet MS", Sans-serif, "Bebas Neue";

$standard-heading: "Roboto Condensed", "Open Sans", Sans-serif;

@mixin section-head {
  font-family: $standard-heading;
  text-transform: uppercase;
}
