@import "../../../styles/dominant/breakpoints.scss";
@import "../../../styles/variables/fonts-and-colors.scss";

.digestBit {
  background-color: $stdesign-scheme-green;
  .parcel {
    flex-direction: column;
    @include MQ(S) {
      flex-direction: row;
    }
    &__first {
      @include MQ(S) {
        width: 35%;
        padding: 1rem 1.4rem;
      }
    }
    &__second {
      padding: 0 1.4rem;
      @include MQ(S) {
        width: 65%;
        padding: 1rem 1.4rem;
      }
    }
  }
}
